{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}


	<h1>Chats</h1>
	<ul>
		<img src="{{ cat.picture }}" width="300" height="200" alt="{{ cat.name }}" id="cat-picture">
		<li id="cat-name">{{ cat.name }}</li>
		<li id="cat-race">{{ cat.race }}</li>
		<li id="cat-age">{{ cat.age }}</li>
		<li id="cat-localisation">{{ cat.localisation }}</li>
		<button data-cat-id="{{ cat.id }}" class="like-button">Like</button>
		<button data-cat-id="{{ cat.id }}" class="dislike-button">Dislike</button>

	</ul>

	<div id="flash-message" class="hidden">
		<p id="flash-content"></p>
	</div>
{% endblock %}
