{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<h1>Chats</h1>
	<ul>
		{% for cat in cats %}
			<img src="{{ cat.picture }}" width="300" height="200" alt="{{ cat.name }}">
			<li>{{ cat.name }}</li>
			<li>{{ cat.race }}</li>
			<li>{{ cat.age }}</li>
			<li>{{ cat.localisation }}</li>
			<button data-cat-id="{{ cat.id }}" class="like-button">Like</button>
		{% endfor %}
	</ul>

	<script>
		const likeButtons = document.querySelectorAll('.like-button');
likeButtons.forEach(button => {
button.addEventListener('click', () => {
const catId = button.getAttribute('data-cat-id');
fetch (`/like_cat/${catId}`, {method: 'POST'}).then(response => response.json()).then(data => {
if (data.success) {
alert('Chat ajouté en favori!');
} else {
alert('Une erreur s\'est produite lors de l\'ajout en favori.');
}
}).catch(error => {
console.error('Erreur:', error);

});
});
});
	</script>
{% endblock %}
