{% extends 'base.html.twig' %}

{% block title %}
	Profil de
	{{ user.pseudo }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Profil de
			{{ user.pseudo }}</h1>

		<p>Nom d'utilisateur :
			{{ user.pseudo }}</p>
		<p>Email :
			{{ user.email }}</p>
		<p>Localisation :
			{{ user.localisation }}</p>
		<p>Photo :
			{{ user.picture }}</p>
	</div>
{% endblock %}
